@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if(1 == 1) {
    <h1>test razor page gồm code c# và html</h1>
}

<div class="text-center">
    <h1 class="display-4">@Model.Header</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

